.container-header-top {
    padding: 0 2%;
    background-color: var(--white);
}

.container-header-top .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-top-menu a img {
    width: 70px;
    height: 30px;
    height: auto;
    object-fit: cover;
}

.header-top-menu {
    display: flex;
    align-items: center;
    z-index: 10
}

.header {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
}

.header-top-menu a,
.header-top-menu-icon {
    font-weight: 550;
    color: var(--black);
    font-size: 1.6rem;

}

.header-top-menu a {
    padding: 27px 15px;
}

.header-top-menu a:hover {
    background-color: var(--green);
    color: var(--white);
}

.header-top-options {
    display: flex;
    align-items: center;
}

.header-top-options .header-top-options-link:first-child a {
    border-radius: 100rem;
    padding: 1.5rem 2rem;
    background-color: var(--black);
    color: var(--white);
}

.header-top-options .header-top-options-link:first-child a:hover {
    background-color: #616161 !important;
    color: var(--white);
}

.header-top-options .header-top-options-link:nth-child(2) a {
    border-radius: 100rem;
    padding: 1.5rem 3rem;
    background-color: var(--pink);
    color: var(--black);
}

.header-top-options .header-top-options-link:nth-child(2) a:hover {
    background-color: #ffb3bb !important;
    color: black !important;
}

.header-top-options .header-top-options-link:nth-child(3) a {
    border-radius: 100rem;
    padding: 1.5rem 3rem;
    background-color: var(--yellow);
    color: var(--black);
}

.header-top-options .header-top-options-link:nth-child(3) a:hover {
    background-color: var(--yellow) !important;
    color: var(--black) !important;
}

.header-top-options .header-top-options-link:nth-child(4) a {
    border-radius: 100rem;
    padding: 1.5rem 3rem;
    background-color: var(--green);
    color: var(--white);
}

.header-top-options .header-top-options-link:nth-child(4) a:hover {
    background-color: #059862 !important;
    color: white !important;
}

.header-top-options a {
    font-size: 1.4rem;
    font-weight: 550;
}

.header-top-options-link {
    margin-right: 2rem;
}

/* menu */
.header-nav {
    background-color: #282A35 !important;
}

.container-header-nav .row .menu a {
    color: var(--white);
    font-size: 1.6rem;
}

.header-nav .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav .row .menu {
    display: flex;
    align-items: center;
    z-index: 10;
    /* gap: 1rem; */
}

.header-nav .row .menu a {
    padding: 1.5rem 1rem;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.4;
}

.header-nav .row .menu a.active {
    color: var(--white);
    background-color: var(--green) !important;
}

.header-nav .row .menu a:hover,
.nav-list li .child:hover {
    background-color: #000000 !important;
}

.header-nav-icon .bi-house-door-fill {
    font-size: 1.6rem;
}

.nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-list>.nav-options-icon:hover {
    background-color: #000000;
}

.nav-options-icon {
    padding: 1.5rem 2rem;
}

.bi-brightness-high-fill,
.bi-globe-asia-australia,
.bi-search {
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--white);
}


.dropdown {
    position: absolute;
    top: 108%;
    right: -87px;
    min-width: 150px;
    display: none;
    background-color: var(--black);
    border-radius: .3rem;
    z-index: 1000;
    transition: all 2s;
}

.dropdown::after {
    content: "";
    width: 50px;
    height: 20px;
    /* background-color: red; */
    position: absolute;
    content: "";
    display: block;
    top: -14px;
    left: 10px;
}

.dropdown>li>a {
    font-size: 1.3rem;
    color: var(--white);
    font-weight: 600;
}

.dropdown>li {
    padding: 1rem 0 1.5rem .5rem;

}

.nav-dropdown {
    position: relative;

}

.nav-dropdown:hover .dropdown {
    display: block;
    transition: all 2s;

}

/* menu-vertical */
#menu-vertical {
    position: fixed;
    top: 0;
    padding-top: 120px;
    padding-bottom: 0;
    height: 100%;
    width: 220px;
    background-color: transparent;
}

.container-menu-vertical {
    height: 100%;
    width: 100%;
    background-color: #E7E9EB;
    overflow-y: scroll;
    overflow-x: hidden;
}

.left {
    font-size: 2.3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-weight: 600;
    padding-left: 1rem;
}

.menu-list {
    display: flex;
    flex-direction: column;
    /* gap: 1rem; */
}

.menu-item {
    display: flex;
    flex-direction: column;
    /* padding-left: 1rem; */
}

.menu-item a {
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 1.4;
    color: var(--black);
    padding: 0.5rem 1rem;
}

.menu-item a:hover {
    color: #000000;
    background-color: #cccccc;
}

.menu-list .menu-item a.active {
    color: var(--white);
    background-color: var(--green) !important;
}


/* content */
#content,
.footer {
    margin-left: 22rem;
    padding-top: 12rem;
}

.content {
    padding: 1.6rem 3.2rem 1.2rem 1rem;
    flex: 1;
    border-right: .1rem solid #ccc;
}

.content h2 {
    font-size: 3rem;
    font-weight: 500;
    line-height: 1.6;
    margin-bottom: 1.5rem;

}

.forward,
.backward {
    width: 9rem;
    height: 5rem;
    background-color: var(--green);
    line-height: 5rem;
    text-align: center;
    border-radius: .5rem;
}

.forward a,
.backward a {
    font-size: 1.4rem;
    color: var(--white);
    font-weight: 600;
}

.forward-backward {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row {
    display: flex;
    justify-content: space-between;

}

.content-icon {
    font-size: 1.4rem;
    font-weight: 600;
}



.right {
    padding: 1rem 0 1rem 3rem;
}

.content-info {
    margin: 3rem 0;
    padding: 5rem 22rem;
    background-color: #D9EEE1;
    margin-left: -22rem;
    margin-right: -3.2rem;
}

.content-text {
    margin-bottom: 3rem;
}

.content-text p {
    padding-bottom: 1.5rem;
    font-size: 1.6rem;
    color: var(--black);
    font-weight: 500;
}

.btn a {
    padding: 1.5rem 2rem;
    background-color: #04AA6D;
    color: var(--white);
    font-size: 1.4rem;
    font-weight: 600;
    border-radius: 1rem;
    line-height: 1.4;
}

.btn a:hover {
    background-color: var(--green);
    color: var(--white);
}

.content-easy,
.content-Examples,
.content-Quiz,
.content-learning,
.content-references,
.back,
.footer {
    padding: 3rem 0 0 2rem;
}

.heading h1 {
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 1.4;
    color: var(--black);

}

.heading p {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--black);
    line-height: 1.2;
    margin: 2rem 0;
}

.example {
    padding: 2rem 5rem 5rem 2rem;
    background-color: #E7E9EB;
    border-radius: .5rem;
}

.example h3 {
    font-size: 2rem;
    font-weight: 500;
    text-transform: capitalize;
}

.example .box {
    margin-top: 2rem;
    height: 250px;
    background-color: rgb(40, 44, 52);
}



.btn-primary {
    padding-top: 4rem;
}

.subtitle {
    margin: 4rem 0;
    padding-left: 2rem;
    font-weight: 600;
    font-size: 1.6rem;
    color: var(--black);
    line-height: 1.4;
}

hr {
    margin: 20px -1px;
    border-top: 1px solid #eee;
}

.content-Examples .btn {
    padding-top: 2rem;
}

.content-Examples .btn a {
    color: black !important;
    background-color: #e7e9eb !important;
}

.content-Examples .btn a:hover {
    background-color: var(--green) !important;
    color: var(--white) !important;
}

/* Exercises */
.Exercises {
    padding: 2rem 5rem 2rem 2rem;
    background-color: var(--black);
}

.Exercises h3 {
    color: var(--white);
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.4;
    margin-bottom: 2rem;
}

.Exercises-form {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.4;
    background-color: #E7E9EB;
    padding: 1rem 2rem;
}

.Exercises .box {
    padding: 3rem 5rem 5rem 1rem;
    background-color: var(--white);
}

.Exercises-btn {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.Exercises-btn a {
    padding: 1rem 2rem;
}

.Exercises-link {
    font-size: 1.6rem;
    font-weight: 500;
    text-decoration: underline;
    color: var(--black);
}

/* .content-Quiz  */
.content-Quiz .heading {
    padding-bottom: 2rem;
}

.content-Quiz .btn a {
    background-color: #2196F3 !important;
    color: var(--white);

}

.content-Quiz .btn {
    padding-bottom: 4rem;
}


/* learning */
.content-learning .heading,
.learing-image {
    margin-bottom: 7rem;
}

/* content-references */
.content-references {}

.content-references-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: auto auto;
    grid-gap: 1.5rem;
}

.content-references-cards .card {
    background-color: #E7E9EB !important;
}

.content-references-cards .card a:hover {
    background-color: var(--black);
    color: var(--white);
}

.content-references-cards .card a {
    padding: 2rem 0rem;
    text-align: center;
    width: 100%;
    border-radius: 5px;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.4;
    color: var(--black);
    display: inline-block;

}


/* panel */
.content-references-panel {
    margin-top: 4rem;
    margin-bottom: 15rem;
}

.box-panel {
    padding: 4rem 5rem 8rem 4rem;
    background-color: #282A35;
    border-radius: 1.6rem;
    color: var(--pink);
    font-weight: 600;
    line-height: 1.4;
    position: relative;

}

.box-panel h1 {
    font-size: 4rem;
}

.box-panel p {
    margin: 5rem 0;
    font-size: 3rem;
}

.box-panel a {
    color: var(--white);
    font-size: 1.5rem;
    padding: 2rem 3rem;
    background-color: #04AA6D;
    border-radius: 2rem;
    margin-bottom: 3rem;
}

.box-panel a:hover {
    background-color: #059862 !important;
}

#w3_cert_arrow {
    position: absolute;
    right: 264px;
    width: 220px;
    transform: rotate(10deg);
    bottom: -10px;
    z-index: 1;
}

.circle {
    position: absolute;
    right: 10%;
    top: 61%;
    width: 20rem;
    height: 20rem;
    border-radius: 100rem;
    background-color: var(--green);
}

.back {
    margin-bottom: 10rem;
}

/* footer */
.footer {
    /* padding-bottom: 10rem; */
    /* margin-right: 22rem; */
}

.footer-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-template-rows: auto;
    grid-gap: 1.5rem;
}

.footer-card {
    background-color: #282A35 !important;
    border-radius: .5rem;
}

.footer-card a:hover {
    background-color: var(--green);
    color: var(--white);
}

.footer-card a {
    font-size: 1.4rem;
    padding: 1.5rem 0rem;
    font-weight: 600;
    display: inline-block;
    width: 100%;
    color: var(--white);
    text-align: center;
}

.footer-select-boxs {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
}

.footer-select-box {
    display: flex;
    flex-direction: column;
}

.footer-select-box h1 {
    font-size: 1.6rem;
    color: var(--black);
    font-weight: 600;
    line-height: 1.4;
    margin-bottom: 1.5rem;
}

.footer-select-box a {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.4;
    color: var(--black);
    text-align: center;
}

.footer-select-box a:hover {
    color: var(--green);
    text-decoration: underline;
}

.footer-forum__about {
    text-align: right;
    padding: 0 2rem;
    margin-bottom: 2rem;
}

.footer-forum__about a {
    font-size: 1.6rem;
    color: var(--black);
    opacity: 0.6;
    margin-right: 1rem;

}

.footer-forum__about a:hover {
    color: var(--green);
}

.footer-forum__about-link {
    padding-right: 1rem;
    border-right: .1rem solid var(--black);
    opacity: 0.6;
}

.footer-contact {
    text-align: center;
    max-width: 120rem;
    margin: 0 auto;
}

.footer-contact p,
.footer-contact span {
    font-size: 1.2rem;
    color: var(--black);
    font-weight: 500;
    line-height: 1.4;
    opacity: 0.6;
}

.footer-contact p:first-child {
    margin-bottom: 2rem;
}

.footer-contact span:hover {
    color: var(--green);
    text-decoration: underline;
    cursor: pointer;
    opacity: 1;
}

.footer-contact .logo {
    margin-top: 2rem;
}

.footer-contact .logo img {

    margin: 0 auto;
    width: 70px;
    height: 70px;
}