:root {
    --red-color: #b22830;
    --white-color: #ffffff;
    --brown-color: #53382c;
    --milk-coffee-color: #f1bc7a;
    --gray-color: #333333;

}

.warrper {
    max-width: 1920px;
    margin: 0 auto;
    overflow: hidden;


}

.container {
    max-width: 1200px;
    margin: 0px auto;
    padding: 0px 15px;
}