#header {
    background-color: var(--red-color);
    padding: 1rem 0 0 0;
}

#header>.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1000px;
}

.logo {
    max-width: 110px;
    transform: translateY(-6px);
}

.logo img {
    width: 100px;
    height: auto;
    object-fit: cover;
}

#formSearch input {
    width: 100%;
    height: 30px;
    padding-left: 1rem;
    padding-right: 3rem;
}

.btn-search {
    position: absolute;
    right: 19rem;
    top: 1.6rem;
    /* transform: translateY(-50%); */
    border: none;
    padding: 0;
    background: none;
}

.header-language {
    margin-left: 1rem;
}

.headers {
    width: calc(100% - 200px);
    /* margin-top: 2rem; */
}

.header-options {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 0.5rem;
}

.header-search {
    display: flex;
    width: 260px;
    background: #ffffff;
    position: relative;
    margin-right: 2rem;
}

.header-language ul {
    display: flex;
    gap: 1rem;
}

.nav-menu>ul {
    display: flex;
}

.nav-menu>ul>.menu-mega>a {
    display: block;
    font-size: .7rem;
    line-height: calc(25 / 14);
    color: var(--white-color);
    padding: .6rem 1.4rem;
    font-weight: 600;
    text-transform: uppercase;
}

.nav-menu>ul>.menu-mega>a:hover {
    background-color: var(--brown-color);
    color: var(--white-color);
}

/* dropdown */
.menu-list1:hover .menuList,
.menu-list2:hover .menuList2 {
    display: block;
    animation: dropdown .3s ease-in;
    z-index: 1000;
}

.con {
    position: absolute;
    top: 100%;
}

.con li a {
    color: #000000 !important;
}

.menuList {
    position: absolute;
    left: 0;
    right: 0;
    background-color: var(--brown-color);
    display: none;
}

.col1 {
    width: calc(100% - 100px);
}

.col1>ul {
    display: flex;
    justify-content: space-around;
}

.col1>ul>li {
    margin-top: .7rem;
    margin-bottom: 0.4rem;
    text-align: center;
}

.col1>ul>li>a {
    color: var(--milk-coffee-color);
    font-size: 1.1rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
}

.col1>ul>li>a:hover {
    color: var(--white-color);
}

.menuList .container {
    max-width: 1000px;
    margin: 0px auto;
    padding: 0px 15px;
}


.row {
    display: flex;
    justify-content: space-between;
}

.child {
    margin-top: 0.4rem;
}

.child>li {
    text-align: center;
    padding: 0 1rem .5rem 1rem;

}

.child>li>a {
    color: var(--white-color);
    font-size: .6rem;
    font-weight: 500;
}

.child>li:hover {
    transform: translateX(7px);
}

.col2 .image {
    text-align: center;
}

.col2 .image img {
    width: 130px;
    height: 100%;

}

.col2 .bannerMenu {
    background: url('/BaiTapLon/highlandscoffee/assets/img/bgmenu.jpg') no-repeat center center;
    background-size: cover;
    padding: 2rem 0 0 .5rem;
}

.text {
    margin-bottom: 2rem;
    max-width: 100px;
}

.text a span {
    color: var(--milk-coffee-color);
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.4;
}

.text a span:hover {
    color: var(--white-color);
}


/* banner-home */
.slideshow-container {
    position: relative;
}

.dot {
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: var(--white-color);
    border-radius: 50%;
    display: inline-block;

}

.active {
    background-color: var(--white-color);
}

.mySlides {
    position: relative;
}

.radio {
    position: absolute;
    top: 50%;
    left: 50%;
    bottom: -55px;
    transform: translate(-50%, 50%);
}


/* Fading animation */
.fade {
    /* -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s; */
    animation-name: fade;
    animation-duration: 1.5s;
}

/* @-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
} */

/* main-bot */
#main-bot {
    margin-top: -18px;
}

.main-row {
    display: flex;
}

.main-address {
    background: url('/BaiTapLon/highlandscoffee/assets/img/main-bot.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    /* width: 50%; */
    height: 500px;
    flex-basis: 50%;
}

.main-ifo {
    background: url('/BaiTapLon/highlandscoffee/assets/img/main-bot2.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-basis: 50%;
}

.content {
    margin: 2rem 0;
}

.content h1 {
    text-align: center;
    color: var(--white-color);
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.4;
    text-transform: uppercase;
}

.myText {
    max-width: 300px;
    margin-top: 3rem;
    margin-left: auto;
}

.myText a {
    color: var(--white-color);
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.4;
    display: block;
}

.myText a:nth-child(2) {
    max-width: 220px;
}

.myText a:hover:first-child {
    color: var(--milk-coffee-color);
}

.myText a:hover:nth-child(2) {
    color: var(--milk-coffee-color);
}

.myText a:hover:last-child {
    color: var(--milk-coffee-color);
}



/* information */
.main-ifo {
    padding: 2rem 5rem 0 2rem;
}

.main-ifo-item img {
    width: 150px;
    height: auto;
    border-radius: 5px;
    flex-shrink: 0;
}

.main-ifo-item a>h4 {
    flex: 1;
}

.main-ifo-item img:hover {
    transform: scale(1.01);
}

.main-desc {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.main-desc h1 {
    color: var(--brown-color);
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.4;
    text-transform: uppercase;
}

.main-desc a {
    text-decoration: underline;
    color: var(--brown-color);
    font-size: 1rem;
}

.main-desc a:hover {
    color: #b22830;
}

.main-ifo-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.main-ifo-item {
    display: flex;
    align-items: start;
    gap: 1rem;
}

.main-ifo-title {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.main-ifo-title h4 {
    font-size: 1rem;
    line-height: 1.6;
    font-weight: 600;
    color: var(--brown-color);
    max-width: 310px;
    flex: 1;
}

.main-ifo-title h4:hover {
    color: #b22830;
}

.main-ifo-date {
    display: flex;
    gap: 1rem;
    flex-shrink: 0;
}


/* footer */
#footer {
    line-height: 5rem;
    height: 5rem;
    background-color: var(--brown-color);
}

#footer .container {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.footer-links {
    color: var(--white-color);
}

.footer-link-icon,
.footer-info-icon,
.footer-mail-icon {
    font-size: 1.4rem;
    margin-left: 1rem;
}

.footer-info a {
    color: var(--white-color);
}

.footer-info a:hover {
    color: var(--milk-coffee-color);
}

.footer-contact,
.footer-info,
.footer-mail {
    font-size: 1rem;
    color: var(--white-color);
    margin-left: 1rem;
}

.footer-links a .footer-link-icon {
    color: var(--white-color) !important;
}

.active {
    background-color: var(--brown-color);
}



/* gioi thieu */
.img img {
    position: relative;
    max-width: 50%;
    width: 100%;
    left: 50%;
    /* float: left; */
    /* clear: both; */
}

.about-text {
    padding-left: 10%;
    position: absolute;
    top: 50%;
    right: 50%;

}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes dropdown {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}