#header {
    background-color: var(--red-color);
    padding: 1rem 0 0 0;
}

#header>.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1000px;
}

.logo {
    max-width: 110px;
    transform: translateY(-6px);
}

.logo img {
    width: 100px;
    height: auto;
    object-fit: cover;
}

#formSearch input {
    width: 100%;
    height: 30px;
    padding-left: 1rem;
    padding-right: 3rem;
}

.btn-search {
    position: absolute;
    right: 19rem;
    top: 1.6rem;
    /* transform: translateY(-50%); */
    border: none;
    padding: 0;
    background: none;
}

.header-language {
    margin-left: 1rem;
}

.headers {
    width: calc(100% - 200px);
    /* margin-top: 2rem; */
}

.header-options {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 0.5rem;
}

.header-search {
    display: flex;
    width: 260px;
    background: #ffffff;
    position: relative;
    margin-right: 2rem;
}

.header-language ul {
    display: flex;
    gap: 1rem;
}

.nav-menu>ul {
    display: flex;
}

.nav-menu>ul>.menu-mega>a {
    display: block;
    font-size: .7rem;
    line-height: calc(25 / 14);
    color: var(--white-color);
    padding: .6rem 1.4rem;
    font-weight: 600;
    text-transform: uppercase;
}

.nav-menu>ul>.menu-mega>a:hover {
    background-color: var(--brown-color);
    color: var(--white-color);
}

/* dropdown */
.menu-list1:hover .menuList,
.menu-list2:hover .menuList2 {
    display: block;
    animation: dropdown .3s ease-in;
    z-index: 1000;
}

.con {
    position: absolute;
    top: 100%;
}

.con li a {
    color: #000000 !important;
}

.menuList {
    position: absolute;
    left: 0;
    right: 0;
    background-color: var(--brown-color);
    display: none;
}

.col1 {
    width: calc(100% - 100px);
}

.col1>ul {
    display: flex;
    justify-content: space-around;
}

.col1>ul>li {
    margin-top: .7rem;
    margin-bottom: 0.4rem;
    text-align: center;
}

.col1>ul>li>a {
    color: var(--milk-coffee-color);
    font-size: 1.1rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
}

.col1>ul>li>a:hover {
    color: var(--white-color);
}

.menuList .container {
    max-width: 1000px;
    margin: 0px auto;
    padding: 0px 15px;
}


.row {
    display: flex;
    justify-content: space-between;
}

.child {
    margin-top: 0.4rem;
}

.child>li {
    text-align: center;
    padding: 0 1rem .5rem 1rem;

}

.child>li>a {
    color: var(--white-color);
    font-size: .6rem;
    font-weight: 500;
}

.child>li:hover {
    transform: translateX(7px);
}

.col2 .image {
    text-align: center;
}

.col2 .image img {
    width: 130px;
    height: 100%;

}

.col2 .bannerMenu {
    background: url('/BaiTapLon/highlandscoffee/assets/img/bgmenu.jpg') no-repeat center center;
    background-size: cover;
    padding: 2rem 0 0 .5rem;
}

.text {
    margin-bottom: 2rem;
    max-width: 100px;
}

.text a span {
    color: var(--milk-coffee-color);
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.4;
}

.text a span:hover {
    color: var(--white-color);
}


/* banner-home */
.slideshow-container {
    position: relative;
}

.dot {
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: var(--white-color);
    border-radius: 50%;
    display: inline-block;

}

.active {
    background-color: var(--white-color);
}

.mySlides {
    position: relative;
}

.radio {
    position: absolute;
    top: 50%;
    left: 50%;
    bottom: -55px;
    transform: translate(-50%, 50%);
}


/* Fading animation */
.fade {
    /* -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s; */
    animation-name: fade;
    animation-duration: 1.5s;
}

/* @-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
} */

/* main-bot */
#main-bot {
    margin-top: -18px;
}

.main-row {
    display: flex;
}

.main-address {
    background: url('/BaiTapLon/highlandscoffee/assets/img/main-bot.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    /* width: 50%; */
    height: 500px;
    flex-basis: 50%;
}

.main-ifo {
    background: url('/BaiTapLon/highlandscoffee/assets/img/main-bot2.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-basis: 50%;
}

.content {
    margin: 2rem 0;
}

.content h1 {
    text-align: center;
    color: var(--white-color);
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.4;
    text-transform: uppercase;
}

.myText {
    max-width: 300px;
    margin-top: 3rem;
    margin-left: auto;
}

.myText a {
    color: var(--white-color);
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.4;
    display: block;
}

.myText a:nth-child(2) {
    max-width: 220px;
}

.myText a:hover:first-child {
    color: var(--milk-coffee-color);
}

.myText a:hover:nth-child(2) {
    color: var(--milk-coffee-color);
}

.myText a:hover:last-child {
    color: var(--milk-coffee-color);
}



/* information */
.main-ifo {
    padding: 2rem 5rem 0 2rem;
}

.main-ifo-item img {
    width: 150px;
    height: auto;
    border-radius: 5px;
    flex-shrink: 0;
}

.main-ifo-item a>h4 {
    flex: 1;
}

.main-ifo-item img:hover {
    transform: scale(1.01);
}

.main-desc {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.main-desc h1 {
    color: var(--brown-color);
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.4;
    text-transform: uppercase;
}

.main-desc a {
    text-decoration: underline;
    color: var(--brown-color);
    font-size: 1rem;
}

.main-desc a:hover {
    color: #b22830;
}

.main-ifo-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.main-ifo-item {
    display: flex;
    align-items: start;
    gap: 1rem;
}

.main-ifo-title {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.main-ifo-title h4 {
    font-size: 1rem;
    line-height: 1.6;
    font-weight: 600;
    color: var(--brown-color);
    max-width: 310px;
    flex: 1;
}

.main-ifo-title h4:hover {
    color: #b22830;
}

.main-ifo-date {
    display: flex;
    gap: 1rem;
    flex-shrink: 0;
}


/* footer */
#footer {
    line-height: 5rem;
    height: 5rem;
    background-color: var(--brown-color);
}

#footer .container {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.footer-links {
    color: var(--white-color);
}

.footer-link-icon,
.footer-info-icon,
.footer-mail-icon {
    font-size: 1.4rem;
    margin-left: 1rem;
}

.footer-info a {
    color: var(--white-color);
}

.footer-info a:hover {
    color: var(--milk-coffee-color);
}

.footer-contact,
.footer-info,
.footer-mail {
    font-size: 1rem;
    color: var(--white-color);
    margin-left: 1rem;
}

.footer-links a .footer-link-icon {
    color: var(--white-color) !important;
}

.active {
    background-color: var(--brown-color);
}



/* gioi thieu */

.about-list {
    display: flex;
    flex-direction: column;
}

.about-item {
    display: flex;
    flex-direction: row-reverse;
    /* padding: 2rem 0; */
}

.img img,
.img2 img,
.img3 img {
    max-width: 800px;
    width: 800px;
}

.img,
.img2,
.img3 {
    position: relative;
}

.about-text {
    padding-left: 10rem;
    padding-top: 4rem;
    /* flex-direction: row-reverse; */
}

.about-text:nth-child(2) {
    /* background-color: var(--milk-coffee-color); */
}

.about-text h2 {
    color: var(--brown-color);
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.6;
    text-transform: uppercase;
}

.about-text h2:hover {
    color: var(--milk-coffee-color);
    cursor: pointer;
}

.about-text span {
    color: var(--brown-color);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.6;
    text-transform: uppercase;
}

.about-text p {
    color: var(--gray-color);
    font-size: .8rem;
    font-weight: 500;
    line-height: 1.4;
    margin: 1rem 0 3.5rem 0;
}

.about-text a {
    padding: .5rem 3.5rem;
    border: .1rem solid var(--red-color);
    color: var(--red-color);
    border-radius: .5rem;
    text-transform: uppercase;
    font-size: .8rem;
}

.about-text a:hover {
    background-color: var(--red-color);
    color: var(--white-color);
}


.img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 59%, rgba(255, 255, 255, 0) 100%);
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 59%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 59%, rgba(255, 255, 255, 0) 100%);
    z-index: 1;
    pointer-events: none;
}

.img2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) -1%, rgba(255, 255, 255, 0) 0%, rgba(222, 201, 173, 0) 50%, rgba(192, 152, 100, 1) 95%, rgba(189, 148, 93, 1) 99%);
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) -1%, rgba(255, 255, 255, 0) 0%, rgba(222, 201, 173, 0) 50%, rgba(192, 152, 100, 1) 95%, rgba(189, 148, 93, 1) 99%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) -1%, rgba(255, 255, 255, 0) 0%, rgba(222, 201, 173, 0) 50%, rgba(192, 152, 100, 1) 95%, rgba(189, 148, 93, 1) 99%);
    z-index: 1;
    pointer-events: none;
}

.img3::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) -1%, rgba(255, 255, 255, 0) 0%, rgba(222, 201, 173, 0) 50%, rgba(192, 152, 100, 1) 95%, rgba(189, 148, 93, 1) 99%);
    background: -webkit-linear-gradient(right, rgba(255, 255, 255, 0) -1%, rgba(255, 255, 255, 0) 0%, rgb(227 210 188 / 0%) 50%, rgb(144 94 29) 95%, #905c2e 99%);
    background: linear-gradient(to left rgba(255, 255, 255, 0) -1%, rgba(255, 255, 255, 0) 0%, rgba(222, 201, 173, 0) 50%, rgba(192, 152, 100, 1) 95%, rgba(189, 148, 93, 1) 99%);
    z-index: 100;
    pointer-events: none;
}

.about-item:nth-child(2) {
    flex-direction: row;
}

.about-item:last-child {
    flex-direction: row-reverse;
}

.about-child2 {
    background-color: #bd945d;
}

.about-text-2 {
    text-align: right;
    padding-left: 0;
    padding-right: 5rem;
}

.about-text-2 h2,
.about-text-2 span,
.about-text-2 a,
.about-text-3 h2,
.about-text-3 span,
.about-text-3 a {
    color: var(--white-color);
}

.about-text-2 a,
.about-text-3 a {
    border-color: var(--white-color);
}

.about-text-2 a:hover,
.about-text-3 a:hover {
    background-color: var(--white-color);
    color: var(--red-color);
}

.about-text-3 {
    background-color: #8e5a2d;
}



@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes dropdown {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


/* menu */
.about-banner:first-child {
    background: url('/BaiTapLon/highlandscoffee/assets/img/menu-1.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    /* position: relative; */
    /* min-height: 340px; */
}

.about-banner:nth-child(2) {
    background: url('/BaiTapLon/highlandscoffee/assets/img/menu-2.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    /* position: relative; */
    /* min-height: 340px; */
}

.about-banner:last-child {
    background: url('/BaiTapLon/highlandscoffee/assets/img/menu3.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    /* position: relative; */
    /* min-height: 340px; */
}

.image {
    width: 50%;
}

.image img {
    max-width: 100%;
    width: 400px;
}

.about-banner-text,
.about-banner-text2 {
    max-width: 500px;
    padding-left: 0;
}

.about-banner-text h2 {
    color: var(--cafe-sua-color);
}

.about-banner-text h2:hover {
    color: var(--red-color);
}

.about-banner-text p {
    color: var(--cafe-sua-color);
    line-height: 1.6;
    font-size: 1rem;
}

.about-banner-text a {
    color: var(--cafe-sua-color);
    border-color: var(--cafe-sua-color);
}

.about-banner-text1 h2,
.about-banner-text1 p {
    color: var(--green-color);
    font-weight: 700;
    font-size: 1rem;
}

.about-banner-text1 {
    max-width: 500px;
    text-align: right;
    margin-right: 12rem;
}

.about-banner-text1 a {
    color: var(--green-color);
    border-color: var(--green-color);
}

.about-banner-text2 h2,
.about-banner-text2 p,
.about-banner-text2 a {
    color: var(--white-color);
    border-color: var(--white-color);
}



/* cong dong */
.news {
    margin-bottom: 3rem;
}

.title {
    color: var(--brown-color);
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.6;
    text-transform: uppercase;
    margin: 1rem 0;
}

.box-list {
    --f-columns: 3;
    --f-gap: 20px;
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--f-gap));
    margin-bottom: calc(-1 * var(--f-gap));
}

.box-item {
    margin-left: var(--f-gap);
    margin-bottom: var(--f-gap);
    width: calc((100% / var(--f-columns) - var(--f-gap)));
    display: flex;
    flex-direction: column;
}

.image-box {
    flex-shrink: 0;
    /* padding: 1rem 1rem; */
    overflow: hidden;
}

.image-box img:hover {
    transform: scale(1.05);
}

.image-box a img {
    max-width: 400px;
    object-fit: cover;
}

.title-decs a h3 {
    color: var(--gray-color);
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.4;
}


.title-content {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.title-decs {
    flex: 1;
    margin-top: 1rem;
}

.title-decs h3:hover {
    color: var(--red-color);
}

.date {
    margin-top: auto;
    flex-shrink: 0;
}

.date span {
    color: var(--greyish-color);
    font-size: 0.5rem;
}

/* nguon goc */
.banner {
    position: relative;
}

.banner-img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: -moz-linear-gradient(left, rgba(233, 233, 233, 0) 1%, rgba(233, 233, 233, 0) 41%, rgba(233, 233, 233, 1) 100%);
    background: -webkit-linear-gradient(left, rgba(233, 233, 233, 0) 1%, rgba(233, 233, 233, 0) 41%, rgba(233, 233, 233, 1) 100%);
    background: linear-gradient(to right, rgba(233, 233, 233, 0) 1%, rgba(233, 233, 233, 0) 41%, rgba(233, 233, 233, 1) 100%);
}

.banner .banner-img img {
    max-width: 100%;
    width: 100%;
    object-fit: cover;
    height: auto;
}


.container .row {
    display: flex;
    margin: 3rem 0;
}

.container-text {
    width: 70%;
}

.container-img {
    width: 50%;
}

.heading {
    margin-bottom: 1rem;
}

.heading h1 {
    font-size: 3.3rem;
    font-weight: 700;
    line-height: 1.6;
    color: var(--brown-color);
    text-transform: uppercase;
}

.container-text span {
    color: #333;
    font-size: .7rem;
}

.container-text p {
    margin: 2rem 0;
    color: #333;
    font-size: 0.7rem;
    font-weight: 500;
    line-height: 1.4;
}

.container-text h4 {
    font-weight: 700;
    font-size: 0.8rem;
}

.con-img {
    position: relative;
    text-align: center;
}

.con-img a img {
    max-width: 500px;
    width: 300px;
}

.desc {
    position: absolute;
    top: 50%;
    left: 50%;
    bottom: 100%;
    transform: translate(-50%, -50%);
    color: var(--white-color);
    font-weight: 700;
    font-size: 2rem;
}













.hidden {
    opacity: 0;
    filter: blur(5px);
    /* transform: translateX(-100%); */
    transition: all 1.5s;
}

.show {
    opacity: 1;
    filter: blur(0);
    /* transform: translateX(0); */
}


.hidden-Y {
    opacity: 0;
    /* filter: blur(5px); */
    /* transform: translateY(-100%); */
    transition: all .5s linear;
    transform: translateY(100px);
}


.show-Y {
    opacity: 1;
    /* filter: blur(0);
    transform: translateY(0); */
    transform: translateY(0);
}