#header {
    padding: 1% 0;
}

#header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-nav a {
    color: #5F656F;
    padding: 1rem 1rem;
    text-transform: capitalize;
    font-size: .9rem;
    font-weight: 500;
}

.option-cart span {
    color: #5F656F;
    padding: 1rem 0;
    text-transform: capitalize;
    font-size: .9rem;
    font-weight: 500;
}

#header .options {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.form-control {
    height: 40px;
    width: 205px;
    border-radius: .5rem;
    border: .1rem solid #5F656F;
    padding-left: 2rem;
}

.image {
    position: relative;
}

.image img {
    width: 100%;
    object-fit: cover;
    pointer-events: none;
}

.banner-text {
    position: absolute;
    top: 30%;
    left: 30%;
    transform: translate(-50%, -50%);
    max-width: 500px;
}

.banner-text .heading {
    margin-bottom: 1rem;
}

.banner-text .heading h1 {
    font-size: 3.5rem;
    font-weight: 700;
    color: #323842;
}

.desc p {
    color: #5F656F;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6;
}

.center {
    margin: 2.5rem 0;
}

.center .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    font-size: 1.2rem;
    font-weight: 500;
    padding: 1rem 3rem;
    color: #459D7A;
    /* border-radius: .5rem; */
}

.navbar a:nth-child(2) {
    border-right: .1rem solid #cccccc;
}

.navbar a:hover {
    background-color: #459D7A;
    color: #ffffff;
}

.active {
    background-color: #459D7A;
    color: #fff !important;
}

.navbar-options {
    display: flex;
    align-items: center;
    justify-content: center;
}

.option-search-navbar {
    margin-right: 1rem;
}

.option-search-navbar .form-control {
    all: unset;
    border-bottom: .1rem solid #cccccc;
    padding-left: 1rem;
    padding-bottom: 0.5rem;
}

.sort-by {
    height: 50px;
    width: 120px;
    line-height: 50px;
    background-color: #F3F4F6;
    border-radius: .5rem;
    text-align: center;
    cursor: pointer;
}

.sort-by span {
    color: #a7aaaf;
    font-weight: 500;
}

.box-list {
    --f-columns: 4;
    --f-gap: 35px;
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--f-gap));
    margin-bottom: calc(-1 * var(--f-gap));
    margin-top: 3.2rem;
}

.box-content {
    margin-top: 2rem;
    padding-bottom: 1rem;
}

.box-item {
    margin-left: var(--f-gap);
    margin-bottom: var(--f-gap);
    width: calc((100% / var(--f-columns) - var(--f-gap)));
    /* background-color: #fafafb; */
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.box-item img {
    max-width: 100%;
    width: 100%;
}

.box-text {
    margin: 1rem 0 2rem 0;
}

.box-text .box-title h1 {
    color: #323842;
    font-size: 1.4rem;
    font-weight: 600;
}

.box-desc {
    margin: .5rem 0;
}

.box-desc span {
    color: rgba(177, 169, 177, 0.667);
    font-weight: 500;
    font-size: 1rem;
}

.box-purchase {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5rem;
}

.salary h1 {
    font-size: 2.5rem;
    font-weight: 600;
}

.salary span {
    font-size: 1rem;
    color: rgba(177, 169, 177, 0.667);
    font-weight: 600;
}

.purchase {
    width: 3rem;
    height: 3rem;
    border-radius: 100rem;
    line-height: 3rem;
    text-align: center;
    color: #91c5b0;
    border: .09rem solid #459D7A;
    cursor: pointer;
}

.best-seller {
    position: absolute;
    top: 154%;
    left: 21rem;
    padding: .3rem .3rem;
    background-color: #ffc970;
    border-radius: 1rem;
    line-height: 1rem;
    cursor: pointer;

}

.best-seller span {
    color: #c18f3d;
    font-size: .8rem;
    font-weight: 500;
    letter-spacing: .05rem;
}

.img:first {
    position: relative;
}

#page {
    margin: 5rem 0;
}

.pages {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    color: #abaeb7;
}

.pages i:hover,
.pages span:hover {
    color: #459D7A;
    cursor: pointer;
}

#footer {
    background-color: #1d2128;
    padding: 5rem 1.5rem;
}

.footer-heading h1 {
    color: #fff;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.4;
}

.footer-heading {
    margin-bottom: 1rem;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.footer-list {
    --f-columns: 3;
    --f-gap: 20px;
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--f-gap));
    margin-bottom: calc(-1 * var(--f-gap));
    width: 40%;
}

.footer-item {
    margin-left: var(--f-gap);
    margin-bottom: var(--f-gap);
    width: calc((100% / var(--f-columns) - var(--f-gap)));
}

.footer-connect {
    /* float: right; */
}

.footer-contact {
    display: flex;
    flex-direction: column;
}

.footer-contact a {
    color: #b7babf;
    margin: .7rem 0;
}

.footer-language {
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0.7rem;
    border: .05rem solid #ccc;
    border-radius: .5rem;
    cursor: pointer;
}

.footer-language span,
.footer-language i {
    color: #fff;
}

.footer-decs {
    color: #b7babf;
    margin-bottom: 1rem;
}


form input {
    position: relative;
    all: unset;
    border: .05rem solid #b7babf;
    padding: 1rem 0 1rem 2rem;
    width: 300px;
    border-radius: .5rem;
    margin-bottom: 1rem;
}

.sub {
    position: absolute;
    right: 15rem;
    position: absolute;
    right: 13.1rem;
    top: 163.4rem;
    color: #fff;
    padding: 1.11rem 1rem;
    background-color: #459D7A;
    border-radius: .5rem .5rem .5rem 0;
}

.footer-icon-links {
    color: #fff;
    display: flex;
    gap: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
}

.footer-desc {
    margin-top: 2rem;
}

.footer-desc,
ul {
    display: flex;
    align-items: center;
    color: #fff;
    gap: 1.4rem;
}


li a {
    color: #fff;
}


@media screen and (max-width: 1023.98px) {
    html {
        font-size: 55%;
    }

    .header {}

    .menu-nav a {
        font-size: 0.7rem;
        padding: 1rem .5rem;
    }

    .logo img {
        width: 80px;
    }

    .options {
        gap: 0;
    }

    .option-search input {
        height: 30px;
        width: 100px;
        padding-left: .4rem;
        font-size: .7rem;
    }

    .banner-text {
        position: absolute;
        top: 15%;
        left: 35%;
        transform: translate(-50%, -50%);
        max-width: 500px;

    }

    .banner-text .heading h1 {
        font-size: 2.5rem;
        font-weight: 700;
        color: #323842;
    }

    .navbar a {
        font-size: .7rem;
        padding: 1rem 1rem;
    }

    .sort-by {
        line-height: 30px;
        height: 30px;
        width: 100px;
    }

    .box-list {
        --f-columns: 2;
        --f-gap: 20px;
    }

    .footer-content {
        flex-direction: column;
        text-align: center;
    }

    .footer {
        text-align: center;
    }

    .footer-list {
        width: 100%;
    }

    .footer-icon-links {
        justify-content: center;
    }

    .footer-connect {
        width: 100%;
    }

    .footer-desc,
    ul {
        justify-content: center;
    }

    .footer-language {
        margin-bottom: 2rem;
    }
}

@media screen and (max-width: 767.98px) {
    html {
        font-size: 50%;
    }

    .box-list {
        --f-columns: 1;
        --f-gap: 10px;
    }

    .footer-list {
        --f-columns: 1;
        --f-gap: 20px;
    }
}